export ELASTIC_VERSION=8.11.0
export ELASTIC_PASSWORD='changeme'
export LOGSTASH_INTERNAL_PASSWORD='changeme'

export KIBANA_SYSTEM_PASSWORD='changeme'
export METRICBEAT_INTERNAL_PASSWORD='changeme'
export FILEBEAT_INTERNAL_PASSWORD='changeme'
export HEARTBEAT_INTERNAL_PASSWORD='changeme'
exportMONITORING_INTERNAL_PASSWORD='changeme'
exportBEATS_SYSTEM_PASSWORD='changeme'